%footer.mastfoot.white-bg
  .container-fluid
    .row
      %article.credits.col-md-4.no-pad.text-left
        %ul.foot-social
          %li= link_to image_tag('social/contact.svg'), '/contact.html', title: 'contact'
          %li= link_to image_tag('social/twitter.svg'), 'https://twitter.com/milkfarm', title: 'twitter'
          %li= link_to image_tag('social/tumblr.svg'), 'http://blog.milkfarmproductions.com', title: 'tumblr'
        %p.font1.dark
          &copy; #{Time.now.year} a #{link_to 'milkfarm', 'http://milkfarmproductions.com'} production
          %br
          image credits: #{link_to 'chen xing', 'https://www.behance.net/xingchen'}
      %article.col-md-8.no-pad.text-left
        %h5.font1.black
          We strive to create refreshing solutions, no matter how small the project. #{link_to 'Get in touch', '/contact.html', class: 'get-in-touch'} with us to start the brainstorming. There's no commitment.
