%header.masthead.white-bg
  .valign
    .container-fluid.no-pad
      .row.header-border
        %article.col-md-6.col-sm-6.col-xs-6.no-pad
          .valign
            = link_to image_tag('logo-extended.png'), '/index.html', alt: '', title: '', class: 'main-logo'
        %article.col-md-6.col-sm-6.col-xs-6.no-pad
          .valign
            .menu-notification
              = link_to '#', alt: '', title: '', class: 'font3bold' do
                %span.ion-android-menu.black

%nav.mastnav.fullheight
  .menu-close-notification
    = link_to '#', alt: '', title: '', class: 'font3bold' do
      %span.ion-android-close.white
  .valign
    %ul.main-menu
      %li
        = link_to 'home', '/index.html', class: 'main-link font2ultralight'
      %li
        = link_to 'about', '/about.html', class: 'main-link font2ultralight'
      %li
        = link_to 'portfolio', '/portfolio.html', class: 'main-link font2ultralight'
      %li
        = link_to 'contact', '/contact.html', class: 'main-link font2ultralight'
