---
title: about
---

%section.main-headline.white-bg
  .container-fluid
    .row
      .col-md-7.no-pad.text-left.header-caps
        %h2.black.font2bold
          About Us
        %h3.grey.font3
          We are a
          %span.color
            web development team
          based in Lake Tahoe, California. We specialize in
          %span.color
            custom applications
          for the
          %span.color
            publishing industry.

%section.common-content.white-bg.pad-top-half.pad-bottom
  .container
    .row
      .col-md-6.text-left
        %h3.dark.font2.font2ultralight
          %span.black.font3 We create beautiful designs and illustrations that stand out from common stuffs.
          We are passionate about everything that has good design.
      .col-md-6.text-left
        %h4.font2.silver Our Story
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat sed augue vel accumsan. Nulla leo velit, mollis ac tortor ac, sollicitudin condimentum sapien. Integer at libero dui. Vestibulum euismod, metus in accumsan varius, risus enim condimentum arcu, in sagittis nunc ipsum eget magna. Integer bibendum, mi vel suscipit pellentesque, lectus leo rhoncus odio, eget posuere lacus orci imperdiet nunc.

    .row.add-top-half
      .col-md-12.text-left
        %h4.font2.silver Services

    .row.add-top-quarter
      %article.col-md-4.features-item
        = image_tag 'icons/cog.svg', alt: '', title: '', class: 'img-responsive'
        %h3.black.font2 Innovation
        %p.grey Lorem ipsum dolor sit amet, consectetur adipiscing elit eros hendrerit luctus.

      %article.col-md-4.features-item
        = image_tag 'icons/guage.svg', alt: '', title: '', class: 'img-responsive'
        %h3.black.font2 Precision
        %p.grey Lorem ipsum dolor sit amet, consectetur adipiscing elit eros hendrerit luctus.

      %article.col-md-4.features-item
        = image_tag 'icons/heart.svg', alt: '', title: '', class: 'img-responsive'
        %h3.black.font2 Pefection
        %p.grey Lorem ipsum dolor sit amet, consectetur adipiscing elit eros hendrerit luctus.

    .row.add-top-half
      %article.col-md-4.features-item
        = image_tag 'icons/lock.svg', alt: '', title: '', class: 'img-responsive'
        %h3.black.font2 Innovation
        %p.grey Lorem ipsum dolor sit amet, consectetur adipiscing elit eros hendrerit luctus.

      %article.col-md-4.features-item
        = image_tag 'icons/map.svg', alt: '', title: '', class: 'img-responsive'
        %h3.black.font2 Precision
        %p.grey Lorem ipsum dolor sit amet, consectetur adipiscing elit eros hendrerit luctus.

      %article.col-md-4.features-item
        = image_tag 'icons/screen.svg', alt: '', title: '', class: 'img-responsive'
        %h3.black.font2 Pefection
        %p.grey Lorem ipsum dolor sit amet, consectetur adipiscing elit eros hendrerit luctus.

    .row.add-top-half
      .col-md-12.text-left
        %h4.font2.silver Team

    .row.add-top-quarter
      .col-md-4.text-left.team-block
        = image_tag 'team/01.jpg', alt: '', title: '', class: 'img-responsive'
        %h3.black.font2 John Doe
        %h5.font3.dark Founder
        %p.grey Lorem ipsum dolor sit amet, conse ctetur adipi scing elit eros hendrerit luctus.

      .col-md-4.text-left.team-block
        = image_tag 'team/02.jpg', alt: '', title: '', class: 'img-responsive'
        %h3.black.font2 Aron Klaus
        %h5.font3.dark Designer
        %p.grey Lorem ipsum dolor sit amet, conse ctetur adipi scing elit eros hendrerit luctus.

      .col-md-4.text-left.team-block
        = image_tag 'team/03.jpg', alt: '', title: '', class: 'img-responsive'
        %h3.black.font2 Lana Berk
        %h5.font3.dark Developer
        %p.grey Lorem ipsum dolor sit amet, conse ctetur adipi scing elit eros hendrerit luctus.

    .row.add-top-half
      .col-md-12.text-left
        %h4.font2.silver Pricing

    #ws.row.add-top-quarter{ style: 'padding-right:15px; padding-left:15px;' }

      .col-md-4.no-pad.white-bg
        .price.custom-bordered
          %i.ion-ios7-analytics-outline.color
          %h5.font2.whitegray-bg.black ALPHA
          .price-specs
            %h1.font2.black $19
            Free 14-day trial.
            %br
            Unlimited Pages.
            %br
            Unlimited Storage.
          .pricing-button
            = link_to 'Purchase', '#', class: 'btn btn-nord btn-nord-dark'

      .col-md-4.no-pad.white-bg
        .price
          %i.ion-ios7-analytics-outline.color
          %h5.font2.whitegray-bg.black BETA
          .price-specs
            %h1.font2.black $29
            Free 14-day trial.
            %br
            Unlimited Pages.
            %br
            Unlimited Storage.
          .pricing-button
            = link_to 'Purchase', '#', class: 'btn btn-nord btn-nord-dark'

      .col-md-4.no-pad.white-bg
        .price.custom-bordered
          %i.ion-ios7-browsers-outline.color
          %h5.font2.whitegray-bg.black GAMA
          .price-specs
            %h1.font2.black $39
            Free 14-day trial.
            %br
            Unlimited Pages.
            %br
            Unlimited Storage.
          .pricing-button
            = link_to 'Purchase', '#', class: 'btn btn-nord btn-nord-dark'

    .row.add-top-half
      .col-md-12.text-left
        %h4.font2.silver Clients

    .row.add-top-quarter
      .col-md-12
        .clients-logos
          .owl-carousel.clients-carousel
            .clients-carousel-item
              = link_to '#' do
                = image_tag 'clients/01.png', alt: '', title: ''
            .clients-carousel-item
              = link_to '#' do
                = image_tag 'clients/02.png', alt: '', title: ''
            .clients-carousel-item
              = link_to '#' do
                = image_tag 'clients/03.png', alt: '', title: ''
            .clients-carousel-item
              = link_to '#' do
                = image_tag 'clients/04.png', alt: '', title: ''
            .clients-carousel-item
              = link_to '#' do
                = image_tag 'clients/05.png', alt: '', title: ''
            .clients-carousel-item
              = link_to '#' do
                = image_tag 'clients/06.png', alt: '', title: ''
