---
title: clients
---

%h2 Clients
%p Propulsion has developed and refined solutions for publishers since 2001. When presented with interesting opportunities, we also intermittently work with creative agencies, artists and entrepeneurs.

%section.top-line
  .row
    .col-md-12
      .filter-container.stick{'data-spy' => 'affix'}
        .filter-trigger Filters
        %ul.filters
          %li
            %button{'data-filter' => '*'} All
          %li
            %button{'data-filter' => '.publisher'} Publishers
          %li
            %button{'data-filter' => '.other'} Other
  #grid
    = link_to 'http://jappleseedmedia.com', class: 'item transition publisher visible jappleseed' do
      .caption
        %h5.extra September 2015
        .titles
          %h3.title J. Appleseed
          %h4.subtitle J. Appleseed is using TitleLeaf to streamline interaction between sales representatives and their school/library customers.
    = link_to 'http://bearportpublishing.com', class: 'item transition publisher visible bearport' do
      .caption
        %h5.extra August 2015
        .titles
          %h3.title Bearport Publishing
          %h4.subtitle Bearport Publishing wanted to avoid the big upgrade expense associated with CyberWolf's PowerWeb solution. TitleLeaf fit the bill.
    = link_to 'http://epicpress.com', class: 'item transition publisher visible epicpress' do
      .caption
        %h5.extra May 2015
        .titles
          %h3.title EPIC Press
          %h4.subtitle EPIC Press is a sister company to ABDO Publishing. Based on ABDO's positive experience with TitleLeaf, EPIC Press came directly to us for an ecommerce website.
    = link_to 'http://midamericabooks.com', class: 'item transition publisher visible midamerica' do
      .caption
        %h5.extra October 2014
        .titles
          %h3.title MidAmerica Books
          %h4.subtitle MidAmerica Books chose TitleLeaf considering it’s long-standing history and custom features that address their book preview business model.
    = link_to 'http://abdopublishing.com', class: 'item transition publisher visible abdopub' do
      .caption
        %h5.extra July 2014
        .titles
          %h3.title ABDO Publishing
          %h4.subtitle After testing a WordPress ecommerce solution, Abdo Publishing decided an application built for the unique needs of publishers was more appropriate.
    = link_to 'http://sleepingbearpress.com', class: 'item transition publisher visible sleepingbear' do
      .caption
        %h5.extra December 2012
        .titles
          %h3.title Sleeping Bear Press
          %h4.subtitle Showcasing the flexibility of titleleaf, we developed this site for Sleeping Bear Press following the structure and design of their pre-existing, static site.
    = link_to 'http://cherrylakepublishing.com', class: 'item transition publisher visible cherrylake' do
      .caption
        %h5.extra July 2008
        .titles
          %h3.title Cherry Lake Publishing
          %h4.subtitle Within one month they had a web application to syndicate data throughout the national network of resellers and a virtual storefront to facilitate credit card purchases from customers direct.
    = link_to 'http://mollyomara.com', class: 'item transition other visible mollyomara' do
      .caption
        %h5.extra June 2010
        .titles
          %h3.title Molly O'Mara
          %h4.subtitle Although outside our normal client base, we jumped at the possibility of working with artist Molly O’Mara. Communicating her large-scale art via a website offered a unique challenge.
    = link_to 'http://childsworld.com', class: 'item transition publisher visible childsworld' do
      .caption
        %h5.extra March 2006
        .titles
          %h3.title The Child's World
          %h4.subtitle After years of modifying open-source ecommerce solutions to fit the unique needs of the educational publishing market, The Child’s World approached propulsion to develop TitleLeaf.
    = link_to 'http://bourgeoisdesign.co', class: 'item transition other visible bourgeois' do
      .caption
        %h5.extra October 2012
        .titles
          %h3.title Bourgeois Interior Design
          %h4.subtitle Bourgeois Interior Design approached us based on the work we had done for their partners. The simplicity of folio was an immediate selling point.
    = link_to '', class: 'item transition other visible dreamslice' do
      .caption
        %h5.extra December 2008
        .titles
          %h3.title Dreamslice International
          %h4.subtitle Dreamslice International approached propulsion to develop an online site devoted to shared-ownership real estate. The resulting application displayed properties from multiple MLS feeds as an overlay on Google Maps and matched like-minded buyers.

%section.bg-dark
  .row
    .col-md-8.col-md-offset-2.text-center
      = partial 'partials/contact'
